body{
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    background: #fff !important;
}

img {
    max-width: 100%;
    height: auto;
}

.bootstrap-select>.dropdown-toggle{
    border-color: #ced4da;
}

.btn-primary{
    color: #fff;
}

.fixed-uaop-bottom-button .btn-primary {
    padding: 10px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.fixed-uaop-bottom-button{
    position: fixed;
    bottom: 57px;
    right: 0px;
    z-index: 1;
}

#refereshFilter{
    cursor: pointer;
}

footer  .list-group-item{
    background-color: transparent !important;
}

.b-sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background: #fff;
    transition: ease-in-out 0.2s;
    width: 220px;
}

.b-sidebar i{
    font-size: 21px !important;
}

#main.active{
margin-left: 220px;
}

#fto-dash .card-overflow{
    max-height: 400px;
    min-height: 400px;
    overflow: auto;
}

#fto-dash .card{
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#fto-dash .card:hover .card-header{
background: var(--primary);
color: var(--white);
}

#b-sidebar.deactive {
    -webkit-transform: translate(-220px, 0px);
    -moz-transform: translate(-220px, 0px);
    -o-transform: translate(-220px, 0px);
    -ms-transform: translate(-220px, 0px);
    transform: translate(-220px, 0px);
    width: 0px;
}

#main.deactive {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    width: 100%;
}


#main {
    transition: ease-in-out 0.2s;
}

i {
    vertical-align: middle;
}

.navbar-toggler {
    border: none;
}

.box-shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.09);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box-shadow-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02), 0 10px 10px rgba(0, 0, 0, 0.04)
}

.cursor-pointer{
    cursor: pointer;
}

.modal .modal-header{
    border-bottom: none;
}

.modal .modal-footer{
    border-top: none;
}

.fto-course-card-active-badge,
.fto-pilots-card-active-badge
{
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 3px;
}



/*** toastr ***/
#toast-container > div {
    padding: 15px !important;
    border-radius:6px !important;
}

.toast {
    background: #1b1e21 !important;
}

#toast-container > .toast-info,
#toast-container > .toast-success,
#toast-container > .toast-error,
#toast-container > .toast-warning
{
    background-image: none !important;
}

#toast-container > div {
    -moz-box-shadow: 0 0 12px #6666 !important;
    -webkit-box-shadow: 0 0 12px #6666 !important;
    box-shadow: 0 0 12px #6666 !important;
}

#toast-container > .toast-info,
#toast-container > .toast-warning
{
    background: #1b1e21 !important;
}

#toast-container > .toast-success{
    background: #0f6e37 !important;
}

#toast-container > .toast-error{
background: #820909 !important;
}

/***/

/*** bootstrap-select ***/
.bootstrap-select .bs-ok-default:after{
    border-width: 0 1.5px 1.5px 0 !important;
    color: #868686;
}

.bootstrap-select .filter-option{
font-weight: 400;
}

.bootstrap-select .btn-light{
    background: none !important;
}
/***/

.fixed-bottom-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 14px;
    z-index: 1;
}

.fixed-bottom-button .btn-primary{
    padding: 10px;
    border-radius: 5%;
    cursor: pointer;
}

textarea{
    border-radius: 0.75rem !important;
}

.index-cloud-pattern{
    position: absolute;
    bottom: -4px;
    left: 0;
}

.courses-card-image{
    background-position: center;
    background-repeat: no-repeat;
    min-height: 180px;
    background-size: cover;
}

#rpacart{
    position: relative;
}

#rpacart .counting{
    position: absolute;
    top: -7px;
    right: 0;
}

.index-section-1 .img-width{
    max-width: 300px;
}

.index-section-1 .index-pos-text-right{
    position: absolute;
    top: 72px;
    left: 750px;
    width: 5000px;

    font-weight: 600;
    font-size: 18px;
}


.index-section-1 .index-pos-text-left{
    position: absolute;
    top: 72px;
    width: 5000px;

    font-weight: 600;
    font-size: 18px;

}

.index-section-1 .index-pos-border-left {
    border-bottom: 3px solid #ff4e00;
    position: absolute;
    top: 98px;
    right: 311px;
    width: 5000px;
}

.circle-index-thing{
    top: 4152px;
    left: -420px;
    width: 605px;
    height: 1247px;
    background: #FFBA3F 0% 0% no-repeat padding-box;
    opacity: 1;
}


.index-section-1 .index-pos-border-right{
    border-bottom: 3px solid #ff4e00;
    position: absolute;
    top: 98px;
    left: 312px;
    width: 5000px;
}

.card-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2) !important;
}

.courses-card .price{
    font-size: 26px;
}

.courses-card .price-discount{
    font-size: 11px;
}

@media screen and (max-width: 720px) {
    .b-sidebar.active{
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    #main.active{
        margin-left: 0px;
        position: relative;
        left: 220px;
    }

    #b-sidebar.deactive {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        width: 0px;
    }

    #main.deactive {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        width: 100%;
    }


}
